Source: pisces-cursor-themes
Section: kde
Priority: optional
Maintainer: Piscesys Packaging Team <support@piscesys.com>
Build-Depends:
Standards-Version: 3.9.6
Homepage: https://piscesys.com
Vcs-Git: https://github.com/piscesys

Package: pisces-cursor-themes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Piscesys Cursor Theme
